{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "lumina.fullname" . }}-manager-role
  labels:
    {{- include "lumina.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - get
# TODO: Remove ConfigMap permissions after https://github.com/Nextdoor/lumina/pull/58 is merged
# These are temporarily needed for trigger ConfigMaps created by reconcilers
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
{{- end }}
