{{- if and (not .Values.skipConfig) .Values.config }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "lumina.fullname" . }}-config
  labels:
    {{- include "lumina.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- toYaml .Values.config | nindent 4 }}
{{- end }}
