name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/docker.yml
    with:
      # Publish on main branch pushes
      publish: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
