name: Lint

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: runs-on=${{ github.run_id }}/runner=2cpu-linux-x64
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
