name: release-drafter
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
jobs:
  release-drafter:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main
          majorList: breaking
          minorList: feat, feature
          patchList: fix, bugfix, perf, refactor, test, tests, chore, doc
      - name: Draft Release
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commitish: main
          disable-autolabeler: true
          version: ${{ steps.semver.outputs.next }}
