name: Tests

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: runs-on=${{ github.run_id }}/runner=2cpu-linux-x64
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test

      - name: Report coverage
        run: make cover
